#This is a list of files ignored by the github tracker
.Spectra01.ps.ps.swp
fg_start
._*
.DS_Store
FG_Widget/work/guiconf.txt
FG_Widget/work/dripconf.txt
FG_Widget/current/guiconf.txt
FG_Widget/current/dripconf.txt